@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

$firstFont: "Ubuntu", sans-serif;

$dark-blue: #0097e6;
$light-blue: #2ba9ea;
$background: #fff;
$font: #828282;
$green: #45f391;