/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 33px;
  padding: 50px 35px;
}

.container-left {
  width: 28%;
  background-color: #0097e6;
  height: 80vh;
  width: 317px;
}

.container-center {
  width: 44%;
  background-color: #2ba9ea;
  height: 80vh;
  width: 600px;
}

.container-right {
  width: 28%;
  background-color: #0097e6;
  height: 80vh;
  width: 317px;
}

.player-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.player-field {
  background-color: #fff;
  border: 1px solid #fff;
  height: 48px;
  border-radius: 10px;
  padding-left: 15px;
  outline: none;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.player-field-1 {
  margin-bottom: 20px;
}

.player-field-2 {
  width: calc(317px - 56px - 9px);
}

.player-field-wrapper {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border: 1px solid #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  padding-right: 9px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.player-field-wrapper:focus-within {
  border: 1px solid #2ba9ea;
  -webkit-box-shadow: 0 0 5px #828282;
          box-shadow: 0 0 5px #828282;
}

.switcher {
  border: 2px solid #fff;
  background-color: #0097e6;
  width: 56px;
  height: 32px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 4px;
}

.switcher-ball {
  width: 24px;
  height: 24px;
  -webkit-transition: 250ms;
  transition: 250ms;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.switcher.active > .switcher-ball {
  -webkit-transform: translateX(21px);
          transform: translateX(21px);
  background-color: #45f391;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.title--green {
  color: #45f391;
  font-weight: 700;
}

.title--blue-big {
  color: #2ba9ea;
  font-size: 24px;
}

.best-of {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 19px;
  color: #fff;
  font-weight: 400;
}

.button {
  width: 100%;
  height: 54px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 24px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.button__play {
  margin-top: 45px;
  background-color: #45f391;
  color: #fff;
}

.button__restart {
  margin-top: 137px;
  background-color: #fff;
  color: #0097e6;
}

.match-history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 38px;
  width: 100%;
}

.matches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.matches__match {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.scenery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  height: 50px;
  padding-left: 15px;
  width: 168px;
}

.scenery__text {
  color: #45f391;
  font-size: 14px;
  font-weight: 700;
}

.scenery__player {
  color: #828282;
  font-size: 14px;
  font-weight: 400;
}

.scene-text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.scene {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 49px;
  width: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 510px;
  height: 510px;
}

.board-item-mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  color: #828282;
  border-radius: 2px;
  height: 15px;
  width: 15px;
}

.board-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  color: #828282;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  background-color: #fff;
  font-size: 130px;
  border-radius: 15px;
  height: 160px;
  width: 160px;
  min-width: 160px;
}

.scoreboard-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 400px;
  border-radius: 15px;
  color: #0097e6;
  font-weight: 700;
  padding: 11px 30px 19px 30px;
  margin-bottom: 40px;
}

.score {
  font-size: 48px;
}

.score-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 11px;
}

.winner-wrapper {
  background-color: #fff;
  padding: 9px 15px;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  min-width: 168px;
}

.winner-text {
  color: #828282;
  font-size: 16px;
  font-weight: 500;
}

.winner-history-title {
  margin-bottom: 7px;
}

.winner-history-name {
  color: #828282;
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */